.activity_header{
    width: 100%;
    height: 1.49rem;
    background-color: #f6f6f6;
}
.activity_header ul{
    width: 90%;
    height: 1.49rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activity_header li{
    width: 33%;
}
.activity_header li:first-child{
    background: url('../images/basket/02.png') no-repeat left center;
    background-size: .27rem .4rem;
    text-indent: .4rem;
    font-size: .33rem;
    color: #373737;
}
.activity_header li:nth-child(2){
    font-size: .4rem;
    color: #030303;
    margin-right: .27rem;
    text-align: center;
}
.activity_header li:last-child{
    text-align: right;
}
.activity_header li:last-child img{
    width: .49rem;
    height: .56rem;
    vertical-align: middle;
}
