

/*
    加个高度和overflow
 */
.ui-view{
    height: 16.4rem;
    overflow-y: scroll;
}


/*
    共同的头部
 */
.commonHeader{
    width: 100%;
    height: 1.49rem;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .4rem;
}
/*
    共同的脚部
 */
.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1.31rem;
    background-color: #f0f0f0;
}
.footer section a{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*   -----------  */
/* 错误案例啊 尴尬 以后截图一定一定要截一样的 */
/*.footer section:nth-of-type(1) a:nth-of-type(1){
    width: .75rem;
    height: .64rem;
}
.footer section:nth-of-type(1){
    background: url('../images/footer/home02.png') no-repeat top center;
    background-size: .75rem .64rem;
}
.footer section:nth-of-type(2) a:nth-of-type(1),.footer section:nth-of-type(4) a:nth-of-type(1){
    width: .48rem;
    height: .64rem;
}
.footer section:nth-of-type(2){
    background: url('../images/footer/information01.png') no-repeat top center;
    background-size: .48rem .64rem;
}
.footer section:nth-of-type(3) a:nth-of-type(1){
    width: .67rem;
    height: .64rem;
}
.footer section:nth-of-type(3){
    background: url('../images/footer/news01.png') no-repeat top center;
    background-size: .67rem .64rem;
}
.footer section:nth-of-type(4){
    background: url('../images/footer/activity01.png') no-repeat top center;
    background-size: .48rem .64rem;
}
.footer section:nth-of-type(5) a:nth-of-type(1){
    width: .63rem;
    height: .68rem;
}
.footer section:nth-of-type(5){
    background: url('../images/footer/mine01.png') no-repeat top center;
    background-size: .63rem .68rem;
}

.footer a:nth-of-type(1){
    width: .70rem;
    height: .68rem;
}*/

.footer section a img{
    width: .87rem;
    height: .69rem;
}


.bg_banner{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
}
