
.pices{
	/*width: 9.090278rem;*/
	margin-left: 0.277778rem;
	margin-top: 0.277778rem;
}
.content{
	display: flex;
	width: 9.361111rem;
	height: 3.736111rem;
	border-radius: 0.069444rem;
	border:0.013889rem solid #ededed;
	box-shadow: 0.069444rem 0.069444rem 0.069444rem #ededed;
}
.content-right{
	padding-left: .47rem;
	padding-right: .47rem;
	padding-top: .24rem;
	width: 4.87rem;
}
.content-right1{
	width: 4.07rem;
}
.content-right1 h2{
	font-size: .4rem;
	font-weight: normal;
	margin-bottom: .83rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.content-right1 p{
	height: .4rem;
	line-height: .4rem;
	font-size: .32rem;
	margin-bottom: .93rem;
}
.content-right2 ul{
	display: flex;
}
.content-right2 ul li{
	color: #999999;
	font-size: 0.347222rem;
	width: 2.777778rem;
}
.content-right2 ul li:last-child img{
	width: 0.381944rem;
	height: 0.381944rem;
}
.content-left img{
	width: 4.270833rem;
	height: 3.541667rem;
	margin-left: 0.125rem;
	margin-top: 0.125rem;

}
