.action {
    margin: 0 0 0.266667rem 0.4rem;
    width: 9.2rem;
    height: 9.866667rem;
    border: 0.013333rem solid #d9d9d9;
    font-size: 0.4rem;
}

.figure_top {
    height: 2.266667rem;
}

.figure_top img {
    width: 0.773333rem;
    height: 0.773333rem;
    float: left;
    margin: 0.293333rem 0.266667rem 0 0.213333rem;
    border-radius: 100%;
}

.figure_top figcaption ul li img {
    width: 0.28rem;
    height: 0.16rem;
    float: left;
    margin: 0.133333rem 0.186667rem 0 1.2rem;
}

.figure_top .foot_name {
    color: #ec735e;
}

.figure_top figcaption p {
    width: 7.333333rem;
    float: left;
    margin: 0.293333rem 0 0 0;
    line-height: 0.733333rem;
	height: 1.6rem;
}

.figure_bottom {
    margin: 0 0 0 0.4rem;
}

.figure_bottom figcaption {
    width: 8.53rem;
    float: left;
    height: 1.6rem;
    overflow: hidden;
	text-overflow: ellipsis;
}

.figure_bottom img {
    width: 6.533333rem;
    height: 4.4rem;
    float: left;
    margin: 0 0 0.266667rem 0.866667rem;
}

.figure_top ul li {
    float: left;
    color: #8d8d8d;
    font-size: 0.24rem;
    margin: 0 1.333333rem 0 0;
}

.activity {
    width: 8.72rem;
    height: 1.146667rem;
    border-top: 0.013333rem solid #d9d9d9;
    margin: 0.266667rem 0 0 0.133333rem;
    color: #b2b2b2;
    font-size: 0.24rem;
}

.activity img {
    width: 0.373333rem;
    height: 0.373333rem;
    margin: 0 0.133333rem 0 0;
}

.activity ul li {
    float: left;
    text-align: center;
    width: 2.133333rem;
    height: 1.146667rem;
    line-height: 1.146667rem;
    background: url(../images/news/li_bg.jpg) no-repeat center right;
    background-size: 0.026667rem 0.613333rem;
}

.activity ul li:last-child {
    background: none;
}

.figure_bottom p {
    line-height: 0.533333rem;
    color: #616161;
    font-size: 0.32rem;
}

.praise {
    width: 9.2rem;
    height: 1.6rem;
    border: 0.013333rem solid #e8e8e8;
    margin: 0 0 0.266667rem 0.4rem;
    font-size: 0.4rem;
}
