<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>味他</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./lib/flexible.js" charset="utf-8"></script>
    <script src="./lib/angular.min.js" charset="utf-8"></script>
    <script src="./lib/angular-ui-router.js" charset="utf-8"></script>

    <script src="./lib/swiper.js" charset="utf-8"></script>
</head>
<body ng-controller="MainCtrl as ctrl">

    <div class="ui-view"></div>

    <div class="footer" >
        <section ng-click="changeIconBg('home');">
            <a ui-sref="home"></a>
            <a ui-sref="home">主页</a>
        </section>
        <section ng-click="changeIconBg('information');">
            <a ui-sref="information"></a>
            <a ui-sref="information">消息</a>
        </section>
        <section ng-click="changeIconBg('news');">
            <a ui-sref="news"></a>
            <a ui-sref="news">动态</a>
        </section>
        <section ng-click="changeIconBg('activity');">
            <a ui-sref="activity"></a>
            <a ui-sref="activity">活动</a>
        </section>
        <section ng-click="changeIconBg('mine');">
            <a ui-sref="mine"></a>
            <a ui-sref="mine">个人</a>
        </section>
    </div>

    <!-- 路由引入 -->
    <script src="./routes/routes.js" charset="utf-8"></script>
    <!-- 服务引入  在路由引入之后 控制器引入之前 -->
    <script src="./service/service.js" charset="utf-8"></script>
    <!-- 过滤器引入 -->
    <script src="./filter/filter.js" charset="utf-8"></script>
    <!-- 这里引入了各个控制器的js -->
    <script src="./controller/mainCtrl.js" charset="utf-8"></script>
    <script src="./controller/home.js" charset="utf-8"></script>
    <script src="./controller/information.js" charset="utf-8"></script>
    <script src="./controller/news.js" charset="utf-8"></script>
    <script src="./controller/activity.js" charset="utf-8"></script>
    <script src="./controller/mine.js" charset="utf-8"></script>
    <script src="./controller/onLine.js" charset="utf-8"></script>
    <script src="./controller/basket.js" charset="utf-8"></script>
    <script src="./controller/breakfast.js" charset="utf-8"></script>
    <script src="./controller/createActivity.js" charset="utf-8"></script>
</body>

</html>
