<link rel="stylesheet" type="text/css" href="css/activity/creatOnline.css"/>
<div class="main">
    <div class="top">
        <input type="text" placeholder="给你的活动取个名字吧-(字数小于17个)" />
    </div>
    <div class="middle">
        <input type="text" placeholder="请填写详细的活动说明以及参与方式" />
    </div>
    <div class="bottom">
        <ul>
            <li><input type="file"></li>
            <li>活动时间：<span>（不超过三个月）</span></li>
            <li><input type="text"/> &nbsp;至 &nbsp;<input type="text"></li>
            <li><input type="button" value="提交"></li>
        </ul>
    </div>
</div>
