<div class="classify_material">
    <ul class="classify_content">
        <li ng-click="show_NextContent(0);"><a href=""><span>猪肉</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(1);"><a href=""><span>牛肉</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(2);"><a href=""><span>羊肉</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(3);"><a href=""><span>鸡肉</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(4);"><a href=""><span>鹅肉</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(5);"><a href=""><span>鸭肉</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(6);"><a href=""><span>其他肉</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(7);"><a href=""><span>鱼</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(8);"><a href=""><span>虾</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(9);"><a href=""><span>蟹</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(10);"><a href=""><span>贝</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(11);"><a href=""><span>其他水产</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(12);"><a href=""><span>果实类</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(13);"><a href=""><span>叶类</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(14);"><a href=""><span>根茎类</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(15);"><a href=""><span>菌菇类</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(16);"><a href=""><span>水果</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(17);"><a href=""><span>豆制品</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(18);"><a href=""><span>谷物</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(19);"><a href=""><span>蛋</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(20);"><a href=""><span>奶制品</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(21);"><a href=""><span>酱</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(22);"><a href=""><span>香辛料</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(23);"><a href=""><span>油</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(24);"><a href=""><span>干果</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(25);"><a href=""><span>调料</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(26);"><a href=""><span>腌咸</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(27);"><a href=""><span>药材</span><img src="../images/classify/20.png" alt=""></a></li>
        <li ng-click="show_NextContent(28);"><a href=""><span>其他调味料及辅料</span><img src="../images/classify/20.png" alt=""></a></li>
    </ul>
</div>
