

<link rel="stylesheet" href="./css/home/classify.css">
<div class="classify">
    <div class="classify_header">
        <ul>
            <li ng-click="backToPre();"><span>首页</span></li>
            <li><span>分类</span></li>
            <li><img src="../images/classify/01.png"></li>
        </ul>
    </div>
    <div class="tabMenu">
        <a ui-sref="classify.subject" ng-click="tab_passHash('subject');" ng-class="{ true:'tabClass1', false:'tabClass2' }[tabFlag]">专题分类</a>
        <a ui-sref="classify.material" ng-click="tab_passHash('material');" ng-class="{ false:'tabClass1', true:'tabClass2' }[tabFlag]">食材分类</a>
    </div>
    <div class="ui-view"></div>
</div>
