<div class="classify_subject">
    <ul class="classify_content">
        <li><a href=""><span>家常菜</span></a></li>
        <li><a href=""><span>快手菜</span></a></li>
        <li><a href=""><span>地方菜</span></a></li>
        <li><a href=""><span>面点</span></a></li>
        <li><a href=""><span>汤饮</span></a></li>
        <li><a href=""><span>烘焙</span></a></li>
        <li><a href=""><span>甜点</span></a></li>
        <li><a href=""><span>粥</span></a></li>
        <li><a href=""><span>米饭</span></a></li>
        <li><a href=""><span>饮品</span></a></li>
        <li><a href=""><span>素食</span></a></li>
        <li><a href=""><span>凉拌菜</span></a></li>
        <li ng-click="show_NextContent(12);"><a href=""><span>节日</span></a></li>
        <li ng-click="show_NextContent(13);"><a href=""><span>时段</span></a></li>
        <li ng-click="show_NextContent(14);"><a href=""><span>异国风味</span></a></li>
        <li ng-click="show_NextContent(15);"><a href=""><span>人群</span></a></li>
        <li ng-click="show_NextContent(16);"><a href=""><span>口味</span></a></li>
        <li ng-click="show_NextContent(17);"><a href=""><span>功效</span></a></li>
    </ul>
</div>
