
<link rel="stylesheet" href="/css/home/skipUpload.css">
<header>
    <p>
        <a href="">&lt;</a>
    </p>
    <p>创建菜单</p>
</header>
<div class="upload">
    <p><img src="../images/home/grayc.jpg"/> 上传完成图</p>
</div>
<div class="main">
    <div class="menuName">
        <ul>
            <li><img src="../images/home/wch.jpg"></li>
            <li>菜谱名称</li>
        </ul>
    </div>
    <div class="brief">
        <ul>
            <li><img src="../images/home/wch.jpg"></li>
            <li>简介</li>
        </ul>
    </div>
    <div class="fitPeople">
        <ul>
            <li>适合身份 ：</li>
            <li><img src="../images/home/peolp.jpg"></li>
            <li><img src="../images/home/graypeop.jpg"/> </li>
        </ul>
    </div>
    <div class="material">
        <ul>
            <li><img src="../images/home/wch.jpg"></li>
            <li>用料</li>
        </ul>
    </div>
    <div class="tool">
        <ul>
            <li><img src="../images/home/wch.jpg"></li>
            <li>推荐用具 <span>（选填）</span></li>
        </ul>
        <figure>
            <figcaption>电器/品牌</figcaption>
            <figcaption>钢锯/品牌</figcaption>
        </figure>
    </div>
</div>
<div class="bottom">
    <div class="step">
        <h2>步骤</h2>
    </div>
    <div class="step1">
        <div class="step-left">
            <ul>
                <li><img src="../images/home/wch.jpg"></li>
                <li>步骤1</li>
            </ul>
        </div>
        <div class="step-right">
            <ul>
                <li><img src="../images/home/grayc.jpg"/></li>
                <li>上传步骤图</li>
            </ul>
        </div>
    </div>
    <div class="step1">
        <div class="step-left">
            <ul>
                <li><img src="../images/home/wch.jpg"></li>
                <li>步骤1</li>
            </ul>
        </div>
        <div class="step-right">
            <ul>
                <li><img src="../images/home/grayc.jpg"/></li>
                <li>上传步骤图</li>
            </ul>
        </div>
    </div>

    <div class="add-step">
        <div class="add-step1">
            <ul>
                <li><img src="../images/home/orrangewh.jpg"></li>
                <li>增加一步</li>
            </ul>
        </div>
        <figure>
            <figcaption>调整步骤</figcaption>
            <figcaption>删除步骤</figcaption>
        </figure>
    </div>
    <div class="tips">
        <ul>
            <li><img src="../images/home/wch.jpg"></li>
            <li>&nbsp;小贴士</li>
        </ul>
    </div>
    <div class="redact">
        <div class="time">
            <p>2017-03-23 19:42:56</p>
        </div>
        <div class="saveFood">
            <p>保存草稿</p>
        </div>
        <div class="issueFood">
            <p>发布菜谱</p>
        </div>
        <div class="deFood">
            <p>删除菜谱</p>
        </div>
    </div>
</div>
