<link rel="stylesheet" href="./css/mine/mine.css">
<div class="mine">
    <div class="commonHeader">{{ name }}
    <a href="" ng-click="skipToSystem()"><img src="../images/mine/111.jpg"></a></div>
    <div class="nav_2">
        <div class="navLeft">
            <img src="../images/mine/33.jpg">
        </div>
        <div class="navRight">
            <div class="navTop">
                <img src="../images/mine/444.jpg">
                <span>暂无 / 暂无</span>
            </div>
            <div class="navBottom">
                <img src="../images/mine/666.jpg">
                <span>暂无</span>
            </div>
        </div>
    </div>
    <div class="nav_3">
        <div class="nav_4">
            <img src="../images/mine/112.jpg">
            <span><a href="">订单</a></span>
        </div>
        <div class="nav_4">
            <img src="../images/mine/113.jpg">
            <span><a href="">购物车</a></span>
        </div>
        <div class="nav_4">
            <img src="../images/mine/114.jpg">
            <span><a href="">我的味道</a></span>
        </div>
        <div class="nav_4">
            <img src="../images/mine/115.jpg">
            <span><a href="">他们</a></span>
        </div>
    </div>
    <div class="nav_5">
        <span>菜谱</span>
        <span>作品</span>
        <span>收藏</span>
        <span>食单</span>
    </div>

</div>
