
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/mine/mineSetting.css">
<div class="hear">
    <img src="./images/mine/zuojian.jpg" ng-click="skipToPre();">
    <span>个人设置</span>
</div>
<div class="hear_01"><img src="./images/mine/33.jpg"></div>
<div class="hear_1">
    <div class="hear_2">姓名</div>
    <div class="hear_2">生日</div>
    <div class="hear_2">职业</div>
    <div class="hear_2">家乡</div>
    <div class="hear_2">所在地</div>
</div>
<div class="hear_3">
    <a href="">保存当前设置</a>
</div>
