<link rel="stylesheet" href="css/mine/storeAddress.css" />
<link rel="stylesheet" href="css/reset.css" />

<div class="main">
    <div class="main_1">
        <img ng-click="skipToPre();" src="./images/mine/zuojian.jpg" />
        <span>添加收货地址</span>
        <span>完成</span>
    </div>
    <div class="main_2">
        <span>收货人</span>
        <input type="text" value="" img src="./images/mine/22.jpg" />
    </div>
    <div class="main_02">
        <span>联系电话</span>
        <input type="text" value="" />
    </div>
    <div class="main_3">
        <span>收货地址</span>
        <input type="text" value="省" />
        <input type="text" value="市" />
        <input type="text" value="区/县" />
        <input type="text" value="具体街道地址" />
    </div>
    <div class="main_4">
        <span>邮编</span>
        <input type="text" value="" />
        <div class="main_5">
            <img src="./images/mine/11.jpg">
            <span>设为默认地址</span>
        </div>
    </div>
</div>
