

<link rel="stylesheet" href="./css/mine/systemSetting.css">

    <header class="hear">
        <div class="hear_1">
            <img ng-click="skipToPre();" src="./images/mine/zuojian.jpg" />
            <span>系统设置</span>
        </div>
        <div class="hear_2" ng-click="skipToMineSetting();">
            <span>个人设置</span>
            <img src="./images/mine/youjian.jpg" />
        </div>
        <div class="hear_3" ng-click="skipToAddress();">
            <span>收货地址</span>
            <img src="./images/mine/youjian.jpg" />
        </div>
        <div class="hear_3">
            <span>个人设置</span>
            <img src="./images/mine/youjian.jpg" />
        </div>
        <div class="hear_03">
            <span>新消息通知</span>
            <img src="./images/mine/youjian.jpg" />
        </div>
        <div class="hear_3">
            <span>清除缓存</span>
            <img src="./images/mine/youjian.jpg" />
        </div>
        <div class="hear_03">
            <span>账号与安全</span>
            <img src="./images/mine/youjian.jpg" />
        </div>
        <div class="hear_3">
            <span>味他推荐</span>
            <img src="./images/mine/youjian.jpg" />
        </div>

        <div class="hear_04">
            <span>版本号V3.2.1</span>
            <img src="./images/mine/youjian.jpg" />
        </div>
        <div class="hear_3">
            <span>意见反馈</span>
            <img src="./images/mine/youjian.jpg" />
        </div>
        <div class="hear_3">
            <span>给我评分</span>
            <img src="./images/mine/youjian.jpg" />
        </div>
        <div class="hear_5">
            <a href="">退出当前账号</a>
        </div>
    </header>
