<link rel="stylesheet" href="./css/activity.css">
<div class="activity">
    <div class="commonHeader">{{ name }}</div>
    <div class="tabMenu" ng-click="tabFlag=!tabFlag">
        <!-- <a ui-sref="activity.online" ng-class="{ true:'tabClass1', false:'tabClass2' }[tabFlag]">线上活动</a>
        <a ui-sref="offline" ng-class="{ false:'tabClass1', true:'tabClass2' }[tabFlag]">线下活动</a> -->
        <a ui-sref="activity.onLine" >线上活动</a>
        <a ui-sref="activity.offLine" >线下活动</a>
    </div>
    <div class="ui-view"></div>
</div>
