

<link rel="stylesheet" href="./css/classify_material.css">
<div class="classify_material">
    <ul class="classify_content">
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
        <li><a href=""><span></span><img src="../images/classify/20.png" alt=""></a></li>
    </ul>
</div>
