

<link rel="stylesheet" href="./css/showHowToJoin.css">
<div class="showHoToJoin">
    <header>
        <p>
            <a href="">&lt;</a>
        </p>
        <p>{{ currentActivity.title }}</p>
    </header>
    <div class="main">
        <div class="product">
            <h2>{{ currentActivity.title }}</h2>
            <ul>
                <li><img ng-src="{{ currentActivity.toppic }}"></li>
                <li>
                    <p>参加人数：{{ currentActivity.alljoin }}人</p>
                    <p>时间：{{ currentActivity.startdate | dataFilter }}-{{ currentActivity.enddate | dataFilter }}</p>
                    <p>发起人：<a href="">{{ currentActivity.username }}</a></p>
                </li>
            </ul>
        </div>
        <div class="brief">
            <ul>
                <li></li>
                <li>简介</li>
            </ul>
            <p>{{ currentActivity.activecontent }}</p>
            <p></p>

        </div>
        <div class="picture">
            <ul>
                <li></li>
                <li>图片</li>
                <li><a href="">更多 &gt;&gt;</a></li>
            </ul>
            <img src="img/gray.jpg" />
        </div>
        <div class="explain">
            <ul>
                <li></li>
                <li>话题</li>
                <li>
                    <a href=""><img src="img/orrangr.jpg" /> 新话题</a>
                </li>
            </ul>
        </div>
        <div class="bottom">
            <p>对这个活动有啥要说的是么-</p>
        </div>
    </div>
    <div class="heel">
        <ul>
            <li><img src="img/xin.jpg"> 0喜欢</li>
            <li>我要参加</li>
        </ul>
    </div>
</div>
